/* Reinitialisation navigateur */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles generaux */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    background-color: lightblue;
    border: 1px solid blue;
    min-height: 50px;
    font-size: 2rem;
}