/* Reinitialisation navigateur */
@media screen and (min-width:769px) {


    /* header entete : logo + menu */
    .header_entete {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .header_image {
        width: vw100;
        height: 380px;
        background: no-repeat center center / cover url("../Assets/images/wa_carroussel_01.jpg");
    }


    .li_service {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }

    .service_item {
        display: flex;
        flex-direction: column;
        align-items: self-start;
        margin-left: 10px;
    }

    .ligne_texte {
        text-align: left;
    }

    .services_corps,
    .service_nav,
    .header_nav ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }

    .portfolio_galerie_images img {
        width: 22vw;
    }

    .text_grand_bleu {
        text-transform: uppercase;
        font-size: 1.5em;
        color: #7DA9CB;
    }

    .text_grand_blanc {
        text-transform: uppercase;
        font-size: 1.5em;
        color: white;
    }

    .text_petit_blanc {
        font-size: 1em;
        color: white;
    }

    .text_case_bleue {
        margin-top: 0.5em;
        padding: 3px;
        font-size: 1em;
        color: white;
        width: 100px;
        background-color: #7DA9CB;
        border-radius: 3px;
        text-align: center;
    }

    .bloc_image_portfolio figure img {
        width: 380px;
    }

    .bloc_image_portfolio figure figcaption {
        width: 380px;
    }

    footer {
        flex-direction: row;
    }
}