/* Reinitialisation navigateur */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Styles generaux */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
    display: flex;
    flex-direction: column;
}

/* header entete : logo + menu */
.header_entete {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header_nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* liens entête */
header a {
    color: grey;
    margin: 10px;
}

/* survol liens entête */
header a:hover {
    color: rgb(12, 6, 125);
    background-color: rgb(185, 224, 225);
}

.header_carroussel {
    position: relative;
}

.img_carroussel img {
    width: 100vw;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}

.chevron_left_carroussel img {
    background-color: rgb(240, 248, 255, 0.75);
    position: absolute;
    z-index: 3;
    width: 2vw;
    height: auto;
    left: 0;
    top: 45%;
    bottom: 0;
}

.chevron_right_carroussel img {
    background-color: rgb(240, 248, 255, 0.75);
    position: absolute;
    z-index: 3;
    width: 2vw;
    height: auto;
    left: 98%;
    top: 45%;
    bottom: 0;
}

.carroussel_texte {
    position: absolute;
    z-index: 3;
    left: 5%;
    top: 30%;
}

main,
.bloc_section,
.section_entete,
.services_corps,
.li_service,
.service_item,
.contact_form,
.form_section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.li_service img {
    width: 50px;
}



.section_title {
    text-transform: uppercase;
    font-size: 1.5em;
}

.portfolio_tab {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border: 2px;
    border-radius: 10px;
    background-color: rgb(220, 217, 217);
}

.portfolio_tab li {
    margin-right: 10px;
    margin-left: 10px;
}


/* agencement des images du portfolio */
.portfolio_tab_images {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.portfolio_tab_images img {
    width: 42vw;
}

.services_img_ecran img {
    width: 100vw;
    height: auto;
}

.plan_acces_frame {
    width: 100vw;
    height: 50vh;
    position: absolute;
    z-index: 0;

}

.contact_form {
    background-color: rgb(240, 248, 255, 0.75);
    margin-left: 70vw;
    width: 30vw;
    position: relative;
    z-index: 1;
}

input,
textarea {
    background-color: rgb(240, 248, 255, 0.75);
    color: grey;
}

button {
    padding: 10px;
    color: aliceblue;
    background-color: #7DA9CB;
}


.text_grand_bleu {
    text-transform: uppercase;
    font-size: 1em;
    color: #7DA9CB;
}

.text_grand_blanc {
    text-transform: uppercase;
    font-size: 1em;
    color: white;
}

.text_petit_blanc {

    font-size: 0.8em;
    color: white;
}

.text_case_bleue {
    margin-top: 0.5em;
    padding: 3px;
    font-size: 0.7em;
    color: white;
    width: 75px;
    background-color: #7DA9CB;
    border-radius: 3px;
    text-align: center;
}